@charset "utf-8";

/* reset */
a {text-decoration: none; color: inherit;}
html, body {width: 100%; height: 100%;}
body { font: normal 12px "nanum gothic",sans-serif; color: #333; min-width: 320px;}

/* fontawesome */
.icon {font-size: 24px;}

/* top */
#top{width: 100%; padding: 10px; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center;}
#top ul{display: flex; }
#top h1{width: 20%;}
#top h1 img {width: 100%; }

.menu_wrap {position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-color: #000;}
.menu_wrap_inner{background-color: #fff; width: 100%; height: 100%; border-radius: 0 130px 0 0; padding: 20px; box-sizing: border-box;}
.menu_wrap_inner h2 {width: 30%; margin-bottom: 30px;}
.menu_wrap_inner h2 {width: 100%;}

.quick_menu {width: 16px; font-weight: bold; color: #666; line-height: 3em; }
.quick_menu li{}
.quick_menu li a{}
.quick_menu li a.selected{background-color: #333; color: #fff;}

#gnb ul li{font-size: 16px; font-weight: bold; color: #666; line-height: 3em;}
#gnb ul li a{display: flex; justify-content: space-between; }

#gnb .submenu{display: none;}
#gnb .submenu li{font-weight: normal; text-indent: 1em; line-height: 1.5em;}
#gnb .submenu li:last-child{margin-bottom: 10px;}
#gnb .submenu li:hover{text-decoration: underline;}

.menu_area{border-top: 1px solid #666; margin-top: 20px; padding-top: 20px;}
.menu_area p{line-height: 2em; font-size: 14px; font-weight: bold;}
.menu_tel{color: #88b04b;}

.close_icon{position: absolute; right: 5px; top: 5px; color: #fff;}
.close_icon:hover{right: 7px; top: 7px;}

#container{width: 100%; margin-bottom: 30px;}
.main_img img{width: 100%;}

#container section{width: 96%; margin: 0 auto; }
#container section h2{text-align: center; font-size: 20px; color: #555; mg: 30px 0; }
#container section h2::before{content: ""; background-color: #ccc; display: block; width: 50px; height: 2px; margin: 0 auto; margin-bottom: 20px;}
#lineUp{width: 100%; display: grid; grid-template-columns: repeat(2, 200px);}
/* 
    grid-template-columns:repeat(갯수, 반복될크기);
    minmax(최솟값, 최대값)


*/


#lineUp figure img{width: 100%;}
#lineUp figure figcaption span{display: block; text-align: center; line-height: 2em;}
.item_txt2{font-size: 16px; font-weight: bold;}

#bottom{background-color: #f5f5f5; padding: 20px;}
#bottom h3{width: 30%;}
#bottom h3 img{width: 100%;}

.bot_area{margin: 20px 0;}
.bot_area p{line-height: 2em; font-size: 14px; font-weight: bold;}
.bot_area .bot_tel{color: #88b04b; margin-bottom: 10px;}
.bot_area span{display: block; line-height: 1.4em;}
.bot_area i{position: relative;}
.bot_area i:hover{top: 1px; }

.fnb li{display: inline; margin-right: 10px;}
.fnb li a:hover{text-decoration: underline;}
.copyright{margin-top: 5px; font-family: "arial",sans-serif; font-weight: bold; color: #555;}

.top_btn{position: fixed; right: 10px; bottom: 10px; transition: all 0.2s;}
