@charset "utf-8";

:root {
    --bg: #ffffff;
    --text: #222222;
    --card-bg: #f5f5f5;
}

.dark-theme {
    --bg: #1c1c1c;
    --text: #f0f0f0;
    --card-bg: #2c2c2c;
}

body {
    font-family: "Segoe UI",sans-serif;
    background-color: var(--bg);
    color: var(--text);
    padding: 40px;
    transition: all 0.3s;
}

.theme-toggle {font-weight: bold; font-size: 20px; padding: 10px 20px; display: block; margin: 0 auto 20px;}
.card {background-color: var(--card-bg); padding: 20px; border-radius: 10px; }