@charset "utf-8";

/* reset */
* { margin: 0; padding: 0; box-sizing: border-box; font-family: "맑은 고딕"; }
ul, ol, li { list-style: none; }
a { text-decoration: none; color: inherit; }

/* wrap */
#wrap { width: 1400px; margin: 20px auto; }
header { height: 150px; padding: 10px; }
section { padding: 10px; text-align: center; }
#booklist { font-size: 15px; overflow: hidden; display: inline-block; margin: 20px auto 50px; }
#booklist li { text-align: center; float: left; line-height: 45px; }
#booklist li a { display: block; padding: 5px 50px; border: 1px solid #ddd; }/* 기본 */
#booklist li a.selected { background-color: #ddd; }/* 선택 */
#booklist li a:hover { box-shadow: inset 0px 0px 2px #999; }
section article { display: flex; flex-wrap: wrap; width: 100%; }
.box { width: 300px; text-align: center; margin: 20px auto; padding: 15px 30px; border-radius: 4px; border: 1px solid #ddd; box-shadow: 4px 4px 4px #eee; }
.box h3 { color: #333; }
.box h3:hover { text-decoration: underline; }
.box h4 { font-weight: normal; font-size: 14px; margin-bottom: 20px; }
.box p { font-size: 12px; color: #666; text-align: left; }
.box p:hover { text-decoration: underline; }
.btn { margin-top: 20px; display: inline-block; padding: 2px 10px; border: solid 3px currentColor; border-radius: 6px; background-color: #a7a37e; color: #fff; font-size: 12px; }
.btn:hover { background-color: #333; }
footer { height: 80px; }
footer p { text-align: center; font-size: 11px; color: #666; margin: 30px 0 0 0px; }