@charset "utf-8";

body {font: normal 14px/1.5em "돋움","Dotum",sans-serif;}

.wrap {width: 960px; margin: 10px auto;}
.box {margin: 10px 0; overflow: hidden;}

.list1, .list2, .list3, .list4, .list5, .list6, .list7, .list8, .list9, .list10, .list11, .list12 {
    float: left; margin-left: 10px; margin-right: 10px;
}

/* 
전체여백 : 12개 *20 =240px
전체내용 : 960 - 240 =720px
1개 컬럼 : 720 /12 = 60px
각 영역별 크기 : (컬럼너비 * 컬럼갯수) + (거터너비 * (컬럼개수 - 1))
*/
.list1 {width: 60px;} /* (60*1) + (20*(1-1))=  */
.list2 {width: 140px;} /* (60*2) + (20*(2-1) = 140 */
.list3 {width: 220px;} /* (60*3) + (20*(3-1)) = 220 */
.list4 {width: 300px;} /* (60*4) + (20*(4-1) = 300 */
.list5 {width: 380px;} /* (60*5) + (20*(5-1) = 380 */
.list6 {width: 460px;}
.list7 {width: 540px;}/* 420 + 120 = 540 */
.list8 {width: 620px;}/* 480 +140 */
.list9 {width: 700px;}/* 540 + 160 */
.list10 {width: 780px;}
.list11 {width: 860px;}
.list12 {width: 940px;}