@charset "utf-8";

/* 공통 */
h1 { font:bold 2.5em "고딕","Gothic",sans-serif; width: 150px; margin: 30px auto; background: url("../images/icn_contact.jpg") no-repeat left center; padding-left: 30px; color: #c03; }
